certifi==2024.8.30
cfgv==3.4.0
charset-normalizer==3.3.2
distlib==0.3.8
exceptiongroup==1.2.0
filelock==3.13.1
fire==0.5.0
identify==2.5.33
idna==3.10
iniconfig==2.0.0
Jinja2==3.1.3
lit==16.0.6
MarkupSafe==2.1.4
mlir-python-bindings==19.0.0.2024020901+vulkan.4759890f
mpmath==1.3.0
nodeenv==1.8.0
packaging==24.0
platformdirs==4.1.0
pluggy==1.4.0
pre-commit==3.3.3
pytest==8.1.1
PyYAML==6.0.1
requests==2.32.3
six==1.16.0
sympy==1.12
termcolor==2.4.0
tomli==2.0.1
urllib3==2.2.3
virtualenv==20.25.0
